@charset "UTF-8";

/* 기본 설정: 페이지 전체 */
* {
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 1);
    color: rgba(255, 255, 255, 1);
}

.login_containers {
    display: block;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 75px;
    margin-bottom: -10px;
}
button{
	background-color: rgba(50,50,50,1);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
a, div{
	color: rgba(255, 255, 255, 1);
}
.aHeader{
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgba(255, 255, 255, 1);
}
.login_containers h2 {
    font-size: 50px;
    margin-bottom:  10px;
}

.login_containers h3 {
    font-size: 25px;
}
.headerTxt{
	color: rgba(255, 255, 255, 1);
}
.loginID,
.loginPassword {
    margin-top: 20px;
    margin-bottom: 30px;
}
label, a{
	color: rgba(255, 255, 255, 1);
}
.form-label{
	color: rgba(255, 255, 255, 1);
}
.input {
    padding: 5px;
    width: 300px;
    line-height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 1);
}

.bt_login, .joinPage {
    font-size: 20px;
    padding: 5px;
    background-color: rgba(50, 50, 50, 1);
    border: none;
    border: solid 1px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}